@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#container-esquerdo {
    display: flex;
    width: 100vw;
    height: 100vh;
}

#left-background {
    background-image: url('imagem/vapores-de-cafe-fresco-na-mesa-de-madeira-fecham-a-ia-generativa-1.webp');
    background-size: cover;
    background-position: center;
    width: 50%; 
    height: 100%;
    position: relative;
}



#right-content {
    background-color: rgb(255, 255, 255);
    width: 50%; /* Metade da tela para o fundo branco */
    position: absolute;
    right: -200px;

    transform: translateX(100px);
}

#container-login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    padding: 20px;
    width: 390px;
    max-width:700px; 
    height: 500px;
    text-align: center; 
    position: relative;
    top: -38px;
}

#right-content .titulo{
    color: #5B5B5B ;
    position: absolute;
    left: 110px;
}

#right-content .subtitulo{
    color: rgb(214, 209, 209);
    position: absolute;
    top: 50px;
    right: 617px;
}



input{
    background-color: rgb(240, 236, 230);
    color: black;
    position: relative;
    margin: 20px;
}

#container-login .email{
    display: flex;
    position: absolute;
    top: 190px;
    left: 25px;
    color: #5B5B5B;
}

#container-login .senha{
    position: absolute;
    top: 250px;
    left: 25px;
    color: #5B5B5B;
}

#email-text, #senha-text {
    border-radius: 8px;
    border: none;
    width: 100%; 
    padding: 8px;
    margin-bottom: 10px;
    position: relative;
}

#botaoEntrar {
    border: none;
    background-color: #35be1c;
    color: white;
    cursor: pointer;
    position: absolute;
    top: 340px;
    padding: 8px 16px;
    border-radius: 3px;
    width: 350px;
    height: 44px;
    transition: background-color .2s ease;
    
}

#botaoEntrar:hover{
    background-color: #31d813;
}

/*tirando a visibilidade*/
#right-content, .titulo{
    visibility: hidden; 
}

/* adicionando uma nova cor na caixinha*/

.novacor {
    border: 2px solid #35be1c; /* Borda verde */
    background-color: rgba(53, 190, 28, 0.1); /* Fundo claro verde */
}

